.top-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(222,49,66);
    height: 120px;
    margin: 20px 80px;
}

.top-header {
    color: white;
    font-size: 46px;
    font-weight: 100;
}